
@font-face {
    font-family:"andesFont";
    src: url("andes.ttf");
}
@font-face {
    font-family:"taraFont";
    src: url("TaraBulbousNF.ttf");
}
@font-face {
    font-family:"airStreamFont";
    src: url("AirstreamNF.ttf");
}
@font-face {
    font-family:"parkFont";
    src: url("ParkLaneNF.ttf");
}
@font-face {
    font-family:"aero";
    src: url("AeroviasBrasilNF.ttf");
}


html{        
	background-color: #fff; 
	overflow-x:hidden;
	height:2300px;
	padding: 0px;
}
body {
	font-family: 'Ek Mukta', sans-serif;
	margin: 0;
}

h1{
	color: black;
	font-family:'andesFont', sans-serif;
    font-size: 70px;
    font-weight:normal;
	position: relative;
	margin: 0 auto;
	text-align: center;
	top:8%;
}
h2{
	font-family: 'BenchNine', sans-serif;
	font-size: 40px;
}
#headTitle{
	top:30%;
}
.frontPg1{
	position: absolute;
	width: 100%;
	height: 1000px;
}
header#headerBar{
	z-index: 2;
	position: fixed;
	top:0;
	background: #101010;
	height:35px;
	opacity: .8;
	width: 100%;
	margin:0;
	display: inline;
}
#outlineBox{
	position: relative;
  	border-style: solid;
 	border-width: 3px;
 	border-color: black;
 	margin: 0 auto;
 	padding: 0px;
 	height: 550px;
 	width: 100%;
 	top:45px;
 	left:-3px;
}
#introBox{
	z-index: 0;
  	position: relative;
  	text-align: center;
 	width: 100%;
 	height: 90%;
 	top:3%;
 	margin: 0 auto;
 	background-color: black;
 	padding: 0px;
}
#carTitle{
	width: 70%;
	z-index: 1;
	position: relative;
}
#storyLine{
	width: 50%;
	z-index: 1;
	position: relative;
	margin: 0 auto;
	top:0%;
	font-size: 22px;
	text-align: center;
	color: white;
	font-family: 'BenchNine', sans-serif;
}
#finger1{
	z-index: -1;
	position: absolute;
	top:386px;
	width:300px;
	left:2%;
	-webkit-filter: drop-shadow(0px 0px 2px red); /* Safari */
    filter: drop-shadow(0px 0px 2px red);
}
#finger2{
	z-index: -1;
	position: absolute;
	top:386px;
	width:300px;
	right:2%;
	-webkit-filter: drop-shadow(0px 0px 2px red); /* Safari */
    filter: drop-shadow(0px 0px 2px red);
}

/*Top Navi Bar Content*/
ul#headNav{
	z-index: 3;
	position: absolute;
	margin: 0 auto;
	right: 1px;
	display: inline;
	color: white;
	font-size: 16px;
	top:35%;
	font-family: 'parkFont', sans-serif;
}
nav ul li {
	display: inline-block;
	color: white;
	padding: 0px 30px 0px 0px;
}
nav ul li a{
	color: white;
}
li img{
    top:8px;
}
img#headLogo{
	position: absolute;
	z-index: 5;
	width:32px;
	height:32px;
	opacity: 1 !important;
	text-align: center;
}
img#headLogo:hover{
	-webkit-filter: drop-shadow(0px 0px 2px red); /* Safari */
    filter: drop-shadow(0px 0px 2px red);
}
.bgroundImage{
	z-index: -5;
	position: fixed;
	width: 100%;
	top:1000px;
	background-color: #fff;
	background-position:bottom;
	background-repeat: none;
}
.frontPg2{
	position: relative;
	margin: 0 auto;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 300px;
	top: 1500px;
	background-color: black;
}
#listBox{
	z-index: 0;
  	position: relative;
  	text-align: center;
 	width: 90%;
 	top:35%;
 	margin: 0 auto;
  	border-style: solid;
 	border-width: 2px;
 	border-color: black;
 	padding: 0px;
}
#partsContainer{
  	position: relative;
 	width: 90%;
 	text-align: center;
 	margin: 0 auto;
 	padding: 0px;

}
.btn {
	width: 100%;
	z-index: 3;
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	font-family: 'BenchNine', sans-serif;
	background: white;
	color: #000000;
	font-size:14px;
	font-style: bold;
	padding: 1px 2px 1px 2px;
	border: solid #000000 2px;
	text-decoration: none;
	outline: none;
}

.btn:hover {
	background: white;
	background-image: -webkit-linear-gradient(top, #ffffff, rgb(255, 77, 77));
	background-image: -moz-linear-gradient(top, #ffffff, rgb(255, 77, 77));
	background-image: -ms-linear-gradient(top, #ffffff, rgb(255, 77, 77));
	background-image: -o-linear-gradient(top, #ffffff, rgb(255, 77, 77));
	background-image: linear-gradient(to bottom, #ffffff, rgb(255, 77, 77));
	text-decoration: none;
}

#carBox{
	position: absolute;
	top:115%;
	width: 80%;
	left:20%;
	padding: 0;
	margin: 0 auto;
	opacity: .95;
}
.parts{
	position: absolute;
	width: 72%;
	margin: 0 auto;
}
#car{
	position: absolute;
	width: 72%;
	z-index: -10;
}
#popUpBox{
	z-index: 0;
  	position: relative;
  	top:25%;
  	float: left;
  	left:12%;
 	width: 400px;
 	height: 150px;
 	margin: 0 auto;
 	padding: 0px;
}
#name{
		position: absolute;
		font-family:'andesFont', sans-serif;
		font-size: 40px;
		text-decoration: underline;
		float: left;
		left: 0px;
		top:100px;
}
#miles{
		position: absolute;
		font-family: 'BenchNine', sans-serif;
		font-size: 30px;
		top:145px;
		float: left;
		left:0px;
}
.infoBox{
	position: relative;
	text-align: center;
	z-index: 1;
	margin: 0 auto;
  	border-style: solid;
 	border-width: 2px;
 	border-color: white;
 	padding: 0px;
 	width: 300px;
 	height:250px;
 	display: inline-block;
 	padding-left: 20px;
 	padding-right: 20px;
 	margin:20px;
}
.infoBox img{
	position: relative;
	width:230px;
	top:5%;
}
.infoBox img:hover{
	-webkit-filter: drop-shadow(0px 0px 5px red); /* Safari */
    filter: drop-shadow(0px 0px 5px red);
}

.frontPg2{
	text-align: center;
}
/*---------------------general style---------------------*/
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color: rgb(255, 77, 77);}
a:active {color: rgb(255, 77, 77);}
/*------------------------Footer--------------------------*/

#listBox {
    -webkit-column-count: 7; /* Chrome, Safari, Opera */
    -moz-column-count: 7; /* Firefox */
    column-count: 7;
}
.frontPg2 {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}






